<section class="about" id="about">
  <div class="about-image"></div>
  <div class="about-content container">
    <p>What you are looking for</p>
    <h2>We provide bespoke solutions</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe
      praesentium molestias alias consectetur, ullam possimus ex animi, quasi
      vitae, non dolores nihil debitis expedita id hic dolore nostrum
      repellendus iste.
    </p>
    <button class="about__btn" type="button">Read More</button>
  </div>
</section>
