<section class="blog" id="blog">
  <div class="blog-image"></div>
  <div class="blog-content container">
    <p>April 16 2020</p>
    <h2>Blog Post One</h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum
      dignissimos quae laudantium asperiores nam aliquid impedit harum illum
      dolore explicabo ab dolores itaque rerum temporibus doloribus iste maiores
      deleniti?
    </p>
    <button class="blog__btn" type="button">
      <svg class="arrow-right">
        <use href="./images/icons/sprite.svg#arrow-right"></use>
      </svg>
      Read Our Blog
    </button>
  </div>
</section>
