<section class="cases container" id="cases">
  <div class="cases__text-info">
    <p>This is what we do</p>
    <h2>
      Business <br />
      Cases
    </h2>
    <p>
      Lorem ipsum dolor sit amet <br />
      consectetur adipisicing elit. <br />
      Architecto, sapiente!
    </p>
  </div>
  <ul class="cases__images">
    <li>
      <a
        href="./images/cases/cases1.jpg"
        data-lightbox="cases"
        data-title="Lorem ipsum dolor, sit amet consectetur adipisicing elit."
      >
        <picture>
          <source
            srcset="
              ./images/cases/cases1.webp    1x,
              ./images/cases/cases1@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/cases/cases1.jpg    1x,
              ./images/cases/cases1@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img src="./images/cases/cases1.jpg" loading="lazy" alt="meeting" />
        </picture>
      </a>
    </li>
    <li>
      <a
        href="./images/cases/cases3.jpg"
        data-lightbox="cases"
        data-title="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum dignissimos quae laudantium"
      >
        <picture>
          <source
            srcset="
              ./images/cases/cases3.webp    1x,
              ./images/cases/cases3@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/cases/cases3.jpg    1x,
              ./images/cases/cases3@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img src="./images/cases/cases3.jpg" loading="lazy" alt="notepad" />
        </picture>
      </a>
    </li>
    <li>
      <a
        href="./images/cases/cases5.jpg"
        data-lightbox="cases"
        data-title="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum dignissimos quae laudantium"
      >
        <picture>
          <source
            srcset="
              ./images/cases/cases5.webp    1x,
              ./images/cases/cases5@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/cases/cases5.jpg    1x,
              ./images/cases/cases5@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img
            src="./images/cases/cases5.jpg"
            loading="lazy"
            alt="shaking hand"
          />
        </picture>
      </a>
    </li>
    <li>
      <a
        href="./images/cases/cases7.jpg"
        data-lightbox="cases"
        data-title="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum dignissimos quae laudantium"
      >
        <picture>
          <source
            srcset="
              ./images/cases/cases7.webp    1x,
              ./images/cases/cases7@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/cases/cases7.jpg    1x,
              ./images/cases/cases7@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img src="./images/cases/cases7.jpg" loading="lazy" alt="laptop" />
        </picture>
      </a>
    </li>
    <li>
      <a
        href="./images/cases/cases2.jpg"
        data-lightbox="cases"
        data-title="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum dignissimos quae laudantium"
      >
        <picture>
          <source
            srcset="
              ./images/cases/cases2.webp    1x,
              ./images/cases/cases2@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/cases/cases2.jpg    1x,
              ./images/cases/cases2@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img src="./images/cases/cases2.jpg" loading="lazy" alt="meeting" />
        </picture>
      </a>
    </li>
    <li>
      <a
        href="./images/cases/cases4.jpg"
        data-lightbox="cases"
        data-title="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum dignissimos quae laudantium"
      >
        <picture>
          <source
            srcset="
              ./images/cases/cases4.webp    1x,
              ./images/cases/cases4@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/cases/cases4.jpg    1x,
              ./images/cases/cases4@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img src="./images/cases/cases4.jpg" loading="lazy" alt="meeting" />
        </picture>
      </a>
    </li>
    <li>
      <a
        href="./images/cases/cases6.jpg"
        data-lightbox="cases"
        data-title="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum dignissimos quae laudantium"
      >
        <picture>
          <source
            srcset="
              ./images/cases/cases6.webp    1x,
              ./images/cases/cases6@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/cases/cases6.jpg    1x,
              ./images/cases/cases6@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img src="./images/cases/cases6.jpg" loading="lazy" alt="meeting" />
        </picture>
      </a>
    </li>
    <li>
      <a
        href="./images/cases/cases8.jpg"
        data-lightbox="cases"
        data-title="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum dignissimos quae laudantium"
      >
        <picture>
          <source
            srcset="
              ./images/cases/cases8.webp    1x,
              ./images/cases/cases8@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/cases/cases8.jpg    1x,
              ./images/cases/cases8@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img src="./images/cases/cases8.jpg" loading="lazy" alt="meeting" />
        </picture>
      </a>
    </li>
  </ul>
</section>
