<section class="contact" id="contact">
  <div class="contact-background"></div>
  <div class="contact__form-wrap">
    <form method="post" class="contact-form container" netlify>
      <h2>Request Callback</h2>
      <div class="input-holder">
        <input class="input" type="text" id="name" name="name" />
        <label for="name">Enter your name</label>
      </div>
      <div class="input-holder">
        <input class="input" type="email" id="email" name="email" />
        <label for="email">Enter email*</label>
      </div>
      <p class="warning">
        <svg width="15" height="15">
          <use href="./images/icons/sprite.svg#warning"></use>
        </svg>
        This is a required field
      </p>
      <button type="submit" class="contact-form__btn btn">Send</button>
    </form>
  </div>
</section>
