<header class="header">
  <a href="." class="header__logo"
    ><svg class="icon-logo">
      <use href="./images/icons/sprite.svg#logo"></use>
    </svg>
    <span>Finance</span>
    <p>Ledger</p>
  </a>
  <ul class="header__nav">
    <li><a class="decorative-link" href="#home">Home</a></li>
    <li><a class="decorative-link" href="#about">About</a></li>
    <li><a class="decorative-link" href="#cases">Cases</a></li>
    <li><a class="decorative-link" href="#blog">Blog</a></li>
    <li><a class="decorative-link" href="#contact">Contact</a></li>
  </ul>
</header>