<section class="team container">
  <div class="team__text-info">
    <p>Who we are</p>
    <h2>
      Our Professional <br />
      Team
    </h2>
    <p>
      Lorem ipsum dolor sit amet <br />
      consectetur adipisicing elit. <br />
      Architecto, sapiente!
    </p>
  </div>
  <ul class="team__gallery">
    <li class="team-card">
      <div class="team-card__wrap">
        <picture>
          <source
            srcset="
              ./images/team/person1.webp    1x,
              ./images/team/person1@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/team/person1.jpg    1x,
              ./images/team/person1@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img src="./images/team/person1.jpg" alt="vice president" />
        </picture>
        <div class="team-card__overlay">
          <ul class="socials-icons">
            <li>
              <a href="">
                <svg width="35" height="35">
                  <use href="./images/icons/sprite.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="">
                <svg width="35" height="35">
                  <use href="./images/icons/sprite.svg#twitter"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="">
                <svg width="40" height="35">
                  <use href="./images/icons/sprite.svg#YouTube"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="">
                <svg width="31" height="35">
                  <use href="./images/icons/sprite.svg#LinkedIn"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="team-card__content">
        <h5 class="team-card__title">John Doe</h5>
        <p class="team-card__text">President</p>
      </div>
    </li>
    <li class="team-card">
      <div class="team-card__wrap">
        <picture>
          <source
            srcset="
              ./images/team/person2.webp    1x,
              ./images/team/person2@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/team/person2.jpg    1x,
              ./images/team/person2@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img src="./images/team/person2.jpg" alt="vice president" />
        </picture>
        <div class="team-card__overlay">
          <ul class="socials-icons">
            <li>
              <a href="">
                <svg width="35" height="35">
                  <use href="./images/icons/sprite.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="">
                <svg width="35" height="35">
                  <use href="./images/icons/sprite.svg#twitter"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="">
                <svg width="40" height="35">
                  <use href="./images/icons/sprite.svg#YouTube"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="">
                <svg width="31" height="35">
                  <use href="./images/icons/sprite.svg#LinkedIn"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="team-card__content">
        <h5 class="team-card__title">Jane Doe</h5>
        <p class="team-card__text">Vice President</p>
      </div>
    </li>
    <li class="team-card">
      <div class="team-card__wrap">
        <picture>
          <source
            srcset="
              ./images/team/person3.webp    1x,
              ./images/team/person3@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/team/person3.jpg    1x,
              ./images/team/person3@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img src="./images/team/person3.jpg" alt="marketing head" />
        </picture>
        <div class="team-card__overlay">
          <ul class="socials-icons">
            <li>
              <a href="">
                <svg width="35" height="35">
                  <use href="./images/icons/sprite.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="">
                <svg width="35" height="35">
                  <use href="./images/icons/sprite.svg#twitter"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="">
                <svg width="40" height="35">
                  <use href="./images/icons/sprite.svg#YouTube"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="">
                <svg width="31" height="35">
                  <use href="./images/icons/sprite.svg#LinkedIn"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="team-card__content">
        <h5 class="team-card__title">Steve Smith</h5>
        <p class="team-card__text">Marketing Head</p>
      </div>
    </li>
  </ul>
</section>
